@{
	Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		 <meta name="viewport" content="width=device-width" />
		 <title>RsvpForm</title>
	</head>
	<body>
		 <div>
		 Thiss is the RsvpForm.cshtml View
		 <a asp-action="Index">Home Page</a>
		 </div>
	</body>
</html>